In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [2]:
data = pd.read_csv('datasets\deliveries.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd.head()

match_id  batsman
1         A Choudhary     6
          BCJ Cutting    16
          CH Gayle       32
          DA Warner      14
          DJ Hooda       16
Name: batsman_runs, dtype: int64

In [3]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
#ave_run.to_csv('avgrun19.csv',index=False)

In [4]:
data = pd.read_csv('datasets/1617.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd.head()

match_id  batsman
1         A Choudhary     6
          BCJ Cutting    16
          CH Gayle       32
          DA Warner      14
          DJ Hooda       16
Name: batsman_runs, dtype: int64

In [5]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
#ave_run.to_csv('avgrun1617.csv',index=False)

In [6]:
data = pd.read_csv('datasets/1819.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd.head()

match_id  batsman
7894      AS Yadav     43
          AT Rayudu    22
          DJ Bravo     69
          DL Chahar     0
          E Lewis       0
Name: batsman_runs, dtype: int64

In [7]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
#ave_run.to_csv('avgrun1819.csv',index=False)

In [8]:
ave_run.head()

      batsman  batsman_runs
0   DA Warner     60.583333
1  J Bairstow     46.800000
2    KL Rahul     46.000000
3  JC Buttler     43.000000
4     RR Pant     40.933333