In [106]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [107]:
d=pd.read_csv('datasets\deliveries.csv')
m=pd.read_csv('datasets\matches.csv')
ba=pd.read_csv('batsmanpo.csv')
c=m.columns
m1=m.drop(c[[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]],axis=1)
m2=m1.rename(columns={'id':'match_id'})

In [108]:
sr=pd.merge(bb,m2,on='match_id')
print(sr.head())
sr.to_csv('sr.csv',index=False)
sr1=sr.groupby(['batsman','season','match_id'])['total_runs'].agg('sum')
sr1.to_csv('sr1.csv')
sr1.head()

   match_id      batsman  over  total_runs  season
0         1  A Choudhary    20           6    2017
1         1  BCJ Cutting    19           1    2017
2         1  BCJ Cutting    20          15    2017
3         1     CH Gayle     1           1    2017
4         1     CH Gayle     2           1    2017

C:\Users\ishita.kedia\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """

batsman         season  match_id
A Ashish Reddy  2012    346         10
                        352          3
                        359         12
                        373         10
                        376          5
Name: total_runs, dtype: int64

In [111]:
sr2=sr.groupby(['batsman','season','match_id'])['over'].agg('count')
sr2.head()

batsman         season  match_id
A Ashish Reddy  2012    346         3
                        352         2
                        359         3
                        373         1
                        376         1
Name: over, dtype: int64

In [116]:
sr3=pd.read_csv('sr1.csv')
sr4=pd.read_csv('sr2.csv')
sr4.head()

           player  season  match_id  no. of overs
0  A Ashish Reddy    2012       346             3
1  A Ashish Reddy    2012       352             2
2  A Ashish Reddy    2012       359             3
3  A Ashish Reddy    2012       373             1
4  A Ashish Reddy    2012       376             1

In [117]:
sr4['no. of balls']=sr4['no. of overs']*6
sr4.head()

           player  season  match_id  no. of overs  no. of balls
0  A Ashish Reddy    2012       346             3            18
1  A Ashish Reddy    2012       352             2            12
2  A Ashish Reddy    2012       359             3            18
3  A Ashish Reddy    2012       373             1             6
4  A Ashish Reddy    2012       376             1             6

In [120]:
sr8=sr4.groupby('player')['no. of balls'].agg('sum')
sr8.to_csv('no. of balls.csv')

C:\Users\ishita.kedia\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [98]:
sr5=pd.merge(sr3,sr4,on=['match_id','season','player'])
#sr5.head()
sr5['strike rate']=sr5['no. of runs']/sr5['no. of balls']
sr5.head()
sr5.to_csv('sr567.csv',index=False)

In [95]:
sr6=sr5.groupby(['player','season','match_id'])['strike rate'].agg('sum')
sr6.head()

player          season  match_id
A Ashish Reddy  2012    346         0.555556
                        352         0.250000
                        359         0.666667
                        373         1.666667
                        376         0.833333
Name: strike rate, dtype: float64

In [97]:
sr7=sr5.pivot_table('strike rate','player','season')
sr7['avg.strike rate']=sr7.mean(axis=1, skipna=True)
sr7.to_csv('sr7.csv')