In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [9]:
b1=pd.read_excel('bowlwide.xlsx')
b2=pd.read_excel('bowlerover.xlsx')
b3=pd.read_excel('bowlernb.xlsx')

In [11]:
b4=pd.merge(b1,b2,on='bowler')
b5=pd.merge(b4,b3,on='bowler')
b5.head()

       bowler  wide_runs  over  noball_runs
0     P Kumar        144   424            1
1  SL Malinga        143   432           18
2    DW Steyn        105   344            7
3    DJ Bravo         93   341            4
4   SR Watson         90   313           13

In [12]:
b5.to_csv('merged.csv',index=False)