In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from pandas import ExcelWriter
from pandas import ExcelFile

In [11]:
a1=pd.read_excel('batsmanfinal123.xlsx',sheet_name='srr')
a2=pd.read_excel('batsmanfinal123.xlsx',sheet_name='apm')
a3=pd.read_excel('batsmanfinal123.xlsx',sheet_name='hpm')
a4=pd.read_excel('batsmanfinal123.xlsx',sheet_name='fifty')
a5=pd.read_excel('batsmanfinal123.xlsx',sheet_name='hun')
a6=pd.read_excel('batsmanfinal123.xlsx',sheet_name='fs')

In [22]:
p1=pd.merge(a1,a2,on='batsman')
p2=pd.merge(p1,a4,on='batsman')
p3=pd.merge(p2,a5,on='batsman')
p4=pd.merge(p3,a6,on='batsman')
p4.drop(columns=['Unnamed: 3','Unnamed: 4'],inplace=True)
p4.head()

,batsman,no of balls,batsman_runs,SRR,avg.runs,50's,100's,fours,sixes
0,DL Chahar,6,14,233.333333,14.000000,0,0,0,2
1,Umar Gul,19,39,205.263158,9.750000,0,0,2,5
2,RS Sodhi,2,4,200.000000,4.000000,0,0,1,0
3,BCJ Cutting,70,124,177.142857,15.500000,0,0,9,10
4,AJ Tye,30,53,176.666667,17.666667,0,0,4,3

In [24]:
p4.to_csv('finalbatsman.csv',index=False)

In [ ]:
p4.